* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration-color: bisque;
}

header, main, footer {
  padding: 20px;
}

ul {
  list-style: none;
}

#header {
  display: flex;
  justify-content: space-around;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_rwsxQCjLOEtlEQyt7MeIs9-Zbf32soV8Sg&usqp=CAU");
}

#footer {
  position:fixed;
  width: 100%;
  bottom: 0;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_rwsxQCjLOEtlEQyt7MeIs9-Zbf32soV8Sg&usqp=CAU");
}  
  
#navbar ul, #btmnavbar ul {
  display: flex;
}

#navbar ul li, #btmnavbar ul li {
  padding: 10px;
}

main { 
 background-color: skyblue;
 height: 100%;
 
}

#planner {
  width: 100%;
}

#planner-form {
  display: flex;
  justify-content: center;
}

#planner-form div {
  padding: 10px;  
  
}

#planner-form div select, #planner-form div input[type="date"], #planner-form div input[type="submit"] {
  height: 25px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 0px 4px 7px seagreen;    
}

#trips {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;   
}

.trip {
  padding: 10px;
  background-color: seashell;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0px 4px 7px seagreen;
  margin: 10px;    
}

.hide {
  display: none;
}

@media only screen and (max-width: 701px) {
  #planner-form, #navbar ul, header, footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;
      padding: 5px;
  }
}

